<div class="login-page">

    <div class="login-card">

        <h2 class="login-title">🎟 Event Manager</h2>
<p class="login-subtitle">Sign in to manage your events</p>

        <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="login-form">

            <!-- Username -->

            <div class="form-group">

                <label>Username</label>

                <input
                    type="text"
                    placeholder="Enter username"
                    formControlName="username">

                <p *ngIf="isEmailValid('email')" class="error">
                    Email should be valid
                </p>

                <p *ngIf="isRequired('email')" class="error">
                    Email required
                </p>

            </div>


            <!-- Password -->

            <div class="form-group">

                <label>Password</label>

                <div class="password-wrapper">

                    <input
                        #passwordInput
                        type="password"
                        placeholder="Enter password"
                        formControlName="password">

                    <i
                        #eyeIcon
                        (click)="showPassword(passwordInput, eyeIcon)"
                        class="fa-regular fa-eye eye-icon">
                    </i>

                </div>

            </div>

            <p *ngIf="inValidCredentials" class="error">
                Username or password is incorrect
            </p>


            <!-- Login Button -->

            <button
                type="submit"
                class="login-btn">

                Login

            </button>
            <a routerLink="/register" class="signup-link">
Don't have an account? Sign up
</a>
        </form>

    </div>

</div>