<div class="webinar-container">

  <h2 class="title">🎥 Webinar Room</h2>
  <p class="meeting-id">Meeting ID : {{meetingId}}</p>

  <div class="main-layout">

    <!-- VIDEO SECTION -->
    <div class="video-section">

      <h3>Participants</h3>

      <div class="video-grid">

        <!-- Local Video -->
        <div class="video-card">
          <p class="video-label">You</p>
          <video #localVideo autoplay muted></video>
        </div>

        <!-- Remote Videos -->
        <div id="remoteVideos" class="remote-videos"></div>

      </div>

      <div class="controls">

        <button class="btn screen" (click)="shareScreen()">Share Screen</button>

        <button class="btn mic" (click)="toggleMic()">Mic</button>

        <button class="btn camera" (click)="toggleCamera()">Camera</button>
         <button class="btn end" (click)="endCall()">End Call</button>

      </div>

    </div>

    <!-- CHAT SECTION -->

    <div class="chat-section">

      <h3>Chat</h3>

      <div class="chat-box">

        <div *ngFor="let m of messages" class="chat-message">
          <b>{{m.user}}</b> : {{m.message}}
        </div>

      </div>

      <div class="chat-input">

        <input [(ngModel)]="message" placeholder="Type message">

        <button (click)="sendMessage()">Send</button>

      </div>

    </div>

  </div>
  <h2>AI Webinar Summary</h2>

<div *ngIf="summary">
  <p>{{summary}}</p>
</div>

<h3>Recording</h3>

<video *ngIf="recording" width="500" controls>
  <source [src]="'http://localhost:5000/' + recording" type="video/webm">
</video>

<h3>Transcript</h3>

<div *ngIf="transcript">
  <p>{{transcript}}</p>
</div>

</div>